<h2 class="header">  All Cars  </h2>  

<button type = "button" class="buttonAdd" [routerLink] = "'/cars/add'"> Add Car </button>


<ul class = "cars">
    <li *ngFor = "let car of cars" >
        <a routerLink="/cars/{{car.id}}">  
            <span class = "badge"> {{car.model}}
            </span>
        </a>
        <button class="delete" title="Delete Car"
      (click)="open(content, car)">X</button>
    </li>
</ul>


<ng-template #content let-c="close" let-d="dismiss">    
    <div class="backdrop" > 
        <div class = "modal-content">
            <div class="modal-body">    
              <b> <p class ="pop-text">Are you sure you want to delete this car?</p> </b> 
            </div>    
            <div class="modal-footer">    
                <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>    
                <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>    
            </div>    
        </div>
    </div>
    
</ng-template>     




